.gitignore export-ignore
.gitattributes export-ignore
/Makefile.git export-ignore
/genttl.sh export-ignore
/img/*.xcf.gz export-ignore
/img/*.icns export-ignore
/img/*.ico export-ignore
/img/mixtri.png export-ignore
/img/mixtrix.png export-ignore
